<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
  <sitecore>
    <pipelines>
      <publishItem>
        <processor type="Sitecore.Support.Publishing.Pipelines.PublishItem.UpdateStatistics, Sitecore.Support.173201"
                   patch:after="processor[@type='Sitecore.Publishing.Pipelines.PublishItem.DetermineAction, Sitecore.Kernel']"/>
      </publishItem>
    </pipelines>
    <hooks>
      <hook type="Sitecore.Support.Hooks.InstallHook, Sitecore.Support.173201"/>
    </hooks>
    <settings>
      <setting name="Publishing.FirstPublishedDateFieldID" value="{C27B433F-5537-44A0-9069-B83AE2E6D99C}" />
    </settings>
  </sitecore>
</configuration>