<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
  <sitecore>
    <pipelines>
      <publishItem>
        <processor type="Sitecore.Support.Publishing.Pipelines.PublishItem.UpdateStatistics, Sitecore.Support.173201"
                   patch:after="processor[@type='Sitecore.Publishing.Pipelines.PublishItem.DetermineAction, Sitecore.Kernel']"/>
      </publishItem>
    </pipelines>
    <hooks>
      <hook type="Sitecore.Support.Hooks.InstallHook, Sitecore.Support.173201"/>
    </hooks>
    <settings>
      <setting name="Publishing.FirstPublishedDateFieldID" value="{A33753B4-02F9-49C4-AA72-5B4F5A5E279B}" />

      <!-- 
        ItemCloning.NonInheritedFields must contain Publishing.FirstPublishedDateFieldID setting value 
        to make it work properly with clones. 
      -->
      <setting name="ItemCloning.NonInheritedFields" set:value="{A33753B4-02F9-49C4-AA72-5B4F5A5E279B}" />
    </settings>
  </sitecore>
</configuration>